.item{
    list-style: none;
    padding: 15px;
}

.statList{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
}

#id-1{
    background-color: #50c4f9;
}

#id-2{
    background-color: #a33cf4;
}

#id-3{
    background-color:   #e54c69;
}

#id-4{
    background-color: #20b8c5;
}

#id-5{
    background-color: #f5c116;
}
